
$padding: 1rem

.creator
  padding: .5rem

.loader
  padding: .5rem

.tournament
  justify-self: center
  align-self: start
  margin-top: 3rem
  // border: 1px solid black
  // background: green

.info
  padding: $padding
  background: #035397

.title
  font-size: 2rem
  color: white

.desc
  font-size: 1.5rem
  color: darken(white,10%)

.links
  background: #035397
  padding: $padding

  & > a
    color: white
    display: block

    // margin: .5rem
